<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="connectionString" value="data source=test"/>
		<add key="secondaryConnectionString" value="data source=test2"/>
	</appSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
